
/*
    Aluno: THIAGO SILVA
    RU: 4917625
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

::selection{
    background-color: #02652d;
    color: #E1E5E1;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    background-color: #E1E5E1;
}

/* MENU */

nav{
    position: fixed;
    width: 100%;
    padding: 15px;
    font-size: clamp(12px, 2vw, 20px);
    background-color: #212121;
}

ul.lista{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

ul a{
    text-decoration: none;
    color: black;
}

li.item{
    margin-left: .1875rem;
    margin-right: .625rem;
    border: 1px solid;
    padding: 6px;
    border-radius: 5px;
    background-color: #BCBFBC;
}

li.item:hover{
    background-color: #7D7F7D;
    color: #E1E5E1;
}

/* OCUPAR TODO O ESPAÇO DA TELA */

.principal, .meio, .contato{
    height: 100vh;
    padding: 20px;
}

/* SOBRE */

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: fit-content;
    gap: 15px;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    background-color: #E1E5E1;
}

.principal-texto{
    font-size: 50px;
    text-align: center;
    font-size: clamp(3.2rem, .5692rem + 8.238vw, 5.75rem);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  

.sobre-desc{
    padding: 20px;
    font-size: 30px;
    color: #7D7F7D;
    font-size: clamp(1.4rem, .4692rem + 2vw, 4rem);
    text-align: center;
}

/* MEIO FORMAÇÃO/PROJETOS */

.meio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    gap: 20px;
}

.formacao, .projetos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px;
    max-width: 500px;
}

.formacao-imagem, .projetos-imagem{
    max-width: 200px;
    max-height: 150px;
    align-self: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.formacao-texto, .projetos-texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projetos ul li a{
    color: #02652d;
}

/* FORMULARIO */

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-size: 30px;
}

.contato form{
    display: flex;
    flex-direction: column;
    background-color: #ffffff93;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    position: relative; /*PARA O BOTAO*/
}

.contato input, .contato textarea, .contato button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contato label{
    font-size: 1.25rem;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.contato button{
    width: 100px;
    padding: 10px;
    background-color: #212121;
    color: #BCBFBC;
    cursor: pointer;
    border-radius: 15px;
    align-self: flex-end; /*LADO DIREITO DO FLEX*/
}

.contato button:hover {
    background-color: #333;
}

footer {
    text-align: center;
    font-size: 15px;
    background-color: #212121;
    padding: 30px;
    color: #BCBFBC;
}