*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
body {
    /* background: bisque; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;

}

nav{
    position: fixed;
    width: 100%;
    padding: 10px;
    font-size: clamp(12px, 2vw, 20px);
    background-color: #212121;
}

ul.lista{
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

ul a{
    text-decoration: none;
    color: black;
}

li.item{
    margin-left: .1875rem;
    margin-right: .625rem;
    border: 1px solid;
    padding: 6px;
    border-radius: 5px;
    background-color: #BCBFBC;
}

li.item:hover{
    /* text-decoration: underline; */
    /* line-height: .5rem; */
    background-color: #7D7F7D;
    color: #E1E5E1;
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border-bottom: 1px solid; */
    /* border-radius: 30px; */
    height: 400px;
    min-height: fit-content;
    gap: 15px;
    width: 100%;
    padding: 150px;
}

.principal-texto{
    font-size: 50px;
    text-align: center;
    font-size: clamp(3.2rem, .5692rem + 8.238vw, 5.75rem);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sobre{
    padding: 20px;
    font-size: 30px;
    color: #7D7F7D;
    font-size: clamp(1.4rem, .4692rem + 2vw, 4rem);
    text-align: center;
}

.meio{
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    padding-top: 100px;
    padding-bottom: 100px;
}

.formacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    width: 50%;
    min-height: fit-content;
    height: 200px;
}

.formacao h1{
    /* top: 0; */
}

.projetos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 50px;
    width: 50%;
    min-height: fit-content;
    height: 200px;
}

.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.contato form{
    display: flex;
    flex-direction: column;
    
}

.contato button{
    width: 100px;
}

footer {
    text-align: center;
    font-size: .625rem;
    background-color: #212121;
    padding: 30px;
    color: #BCBFBC;
}







